@page "/customer/index"
@using BlazorApp8.Shared
@inject HttpClient Http
@inject DialogService DialogService



<PageTitle>Customers</PageTitle>

<h1>Customers</h1>

@if (customers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div style="max-width:1550px">
        <RadzenDataGrid Data="@customers" TItem="Customer" AllowSorting="true" AllowMultiColumnSorting="true" AllowPaging="true" PageSize="10"
                    AllowFiltering="true" AllowGrouping="true" AllowColumnResize="true" AllowColumnReorder="true" ColumnWidth="300px" AllowColumnPicking="true"
                    RowRender="@RowRender" ExpandMode="DataGridExpandMode.Single">
            <Template Context="customer">
                <RadzenDataGrid AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@customer.Products" TItem="Product">
                    <Columns>
                        <RadzenDataGridColumn TItem="Product" Property="Product.Name" Title="Name" />
                        <RadzenDataGridColumn TItem="Product" Property="Product.Description" Title="Description" />
                        <RadzenDataGridColumn TItem="Product" Property="Product.Price" Title="Price">
                            <Template Context="detail">
                                @String.Format(new System.Globalization.CultureInfo("en-US"), "{0:C}", detail.Price)
                            </Template>
                        </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>
            </Template>
            <Columns>
                <RadzenDataGridColumn Width="60px" TItem="Customer" Property="Id" Title="ID" Filterable="false" Groupable="false" Frozen="true" Resizable="false" Reorderable="false" Pickable="false"/>
                <RadzenDataGridColumn TItem="Customer" Property="FirstName" Title="First Name" Groupable="false" />
                <RadzenDataGridColumn TItem="Customer" Property="LastName" Title="Last Name" />
                <RadzenDataGridColumn TItem="Customer" Property="Email" Title="Email" Groupable="false" />
                <RadzenDataGridColumn TItem="Customer" Property="DateNaissance" Title="Date de naissance" FilterProperty="Customer.DateNaissance" Groupable="false" />
                <RadzenDataGridColumn TItem="Customer" Title="Action" Filterable="false" Sortable="false" Groupable="false">    
                    <Template Context="customer">
                        @*<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal"
                            Click=@(() => Delete(customer.Id)) data-bs-whatever="@(customer.Id)">
                            X
                            </button>*@
                            <button type="button" class="btn btn-danger" Click=@(() => Delete(customer.Id))>
                            X
                            </button>
                        <RadzenButton Text="view" ButtonStyle="ButtonStyle.Secondary" Click=@(() => ViewDetail(customer.Id)) />
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Are you sure to delete this customer ?
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-danger" id="btnSaveIt">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@code {
    private Customer[]? customers;
    private bool sort = false;
    private bool asc;
    private bool expand = false;
    private string keyword;
    private IDictionary<int, bool> dict = new Dictionary<int, bool>();
    RadzenDataGrid<Customer> customersGrid;
    int iiii = 5;


    protected override async Task OnInitializedAsync()
    {
        customers = await Http.GetFromJsonAsync<Customer[]>("Customer");
    }

    private void SortFirstName()
    {
        if (sort)
        {
            if (asc)
            {
                var query = from p in customers orderby p.FirstName descending select p;
                customers = query.ToArray();
                asc = false;
            }
            else
            {
                var query = from p in customers orderby p.FirstName select p;
                customers = query.ToArray();
                asc = true;
            }
        }
        else
        {
            var query = from p in customers orderby p.FirstName select p;
            customers = query.ToArray();
            asc = true;
            sort = true;
        }

    }

    void RowRender(RowRenderEventArgs<Customer> args)
    {
        args.Expandable = args.Data.Products.Count() > 0 ;
    }

    private void Delete(int Id)
    {

    }

    async Task ViewDetail(int CustomerId)
    {
        await DialogService.OpenAsync<View>($"Customer {CustomerId}",
              new Dictionary<string, object>() { { "CustomerID", CustomerId } },
              new DialogOptions() { Width = "700px", Height = "570px" });
    }

    private void Expand(int Id)
    {
        if (!dict.ContainsKey(Id))
        {
            dict.Add(Id, true);
        }
        else
        {
            dict[Id] = !dict[Id];
        }

    }
    private void expandall()
    {
        expand = !expand;
    }

    private void Search()
    {
        //var query = customers.Where(_ => _.FirstName == keyword);
        var query = from c in customers where c.FirstName == keyword select c;
        customers = query.ToArray();
    }

}